@{
    ViewBag.Title = "Library";
}
<div id="libraryModule">
    <library></library>
</div>

@section scripts{
    @*<script src="~/js/$ajaxHelper.js"></script>
        <script src="~/js/library/library.js"></script>*@
    <script src="~/js/app/modules/libraryapp.js"></script>
}

