.navbar-inverse {
    background-color: whitesmoke;
    border-color: transparent;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

    .navbar-brand img {
        width: 10vh;
        margin-top: -10px; /*change image*/
    }

article {
    margin-top: 70px;
}

li {
    list-style: none;
    list-style-type: none;
}
